.container {
  padding: 20px;
}

.filterContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: flex-start;
}

.filterItem {
  display: flex;
  flex-direction: column;
}

.filterItem label {
  margin-bottom: 5px;
  font-weight: bold;
}

.input {
  margin-top: 0.4rem ;
  padding: 6px 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.buttonContainer {
  display: flex;
  gap: 10px;
  margin-top: 1.8rem;
}

.consultButton {
  padding: 10px 23px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.consultButton:hover {
  background-color: #0056b3;
}

.loader {
  margin-top: 20px;
  font-size: 18px;
  color: #007bff;
}

.customButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.customButton:hover {
  color: #007bff;
}

/* Estilos existentes */
.container h1 {
  font-weight: 500;
  font-size: 1.8rem;
  margin: 1rem 1rem;
}

.container hr {
  margin-bottom: 2rem;
}

.tabContainer {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.tabButton {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.tabButton:hover {
  background-color: #f0f0f0;
}

.active {
  background-color: #e9ecef;
  color: blue;
  border: 1px solid blue;
}

.customButton {
  background-color: #0d89ec;
  color: white;
  border: none;
  padding: .8rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.customButton:hover {
  background-color: #0d89ec;
}

.container__calendar {
  display: flex;
  gap: 20px;
  width: 50%;
  margin-left: 1rem;
}

.container__1 {
  display: flex;
}

.container__button {
  display: flex;
  margin-left: 20px;
  margin-top: 20px;
  gap: 1rem;
}

.container__button button {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: #0d89ec;
  border: none;
  padding: 0.5rem 1rem;
  color: white;
  font-weight: 500;
  border-radius: 10px;
  cursor: pointer;
}

.loader {
  text-align: center;
  font-size: 1.5rem;
  margin: 20px;
}

.InputalingCalendar {
  height: 100px;
}
