.exportButton {
    /* Rectangle 48 */
    all: unset;
  
    text-align: center;
    color: white;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
    cursor: pointer;
    font-size: 13px;
 padding:.5rem .3rem;
    background: linear-gradient(90deg, #217346 0%, #28A745 100%);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }
  
  .exportButton:hover {
    background-color: #196F3D; /* Un verde más oscuro para el efecto hover */
  }
  