.InputText{
    margin: 10px;
    padding: 10px;
    
}
  
  .Input {
    width: 100% !important;

    height: 60px;
}


.InputTextsmall{
  margin: 10px;
  padding: 10px;
}

.Labelsmall {
  font-weight: bold;
  font-size: 15px;
}

.Inputsmall {
  width: 100% !important;

  height: 10px;
}


.InputTextaling {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.Labelaling {
  flex-basis: 25%;
  margin-right: 10px;
  text-align: right;
  margin-bottom: 0.3rem;
}

.Labelaling strong {
    font-weight: 500;
    font-size: 0.9rem;
    margin-bottom: 0.2rem;
}

.Inputaling {
  /* flex-basis: 70%; */
  height: 1px;
}


.InputTextalingCalendar {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  height: 50px;
  margin: 10px 0 ;
}

.InputalingCalendar {
  width: 100%; /* O un porcentaje específico menor al 100% si es necesario */
  height: 30px;
  max-width: 100%; /* Esto previene que el input sobrepase el ancho del contenedor */
  box-sizing: border-box; /* Aplica esto también al input */
  margin: 0;

}


